header {
    height: 100vh;
    padding-top: 7rem;
    overflow: hidden;
}

.header__container{
    text-align: start;
    display: flex;
    justify-content: space-evenly;
    height: 100%;
    position: relative;
}

.header__container h5{
    font-size: 1.3rem;
}

/* CTA styling */

.cta{
    display: flex;
    gap: 1.2rem;
    justify-content: flex-start;
    margin-top: 2.5rem;
}

/* HeaderSocials */

.headerSocials{
    background: rgba(255, 255, 255, 0.206);
    padding: 10px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    font-size: 2rem;
    position: absolute;
    left: 0;
    bottom: 3rem;
}

.headerSocials::after{
    content: '';
    width: 1px;
    height: 2rem;
    background: var(--colorPrimary);
}

/* img */

.me{
    background: rgba(255, 255, 255, 0.214);
    background: linear-gradient(196deg, rgba(55, 255, 0, 0.652) 20%, rgba(61, 152, 38, 0.561) 43%, rgba(28,64,19,0.29735644257703087) 56%, rgba(9,21,6,0) 75%, rgba(0,0,0,0) 94%);
    width: 25rem;
    height: 30rem;
    padding-top: 1.5rem;
    border-radius: 200px;
    align-content: center;
    display: flex;
    -webkit-box-shadow: 10px 10px 6px 0px rgba(201,199,201,1);
    -moz-box-shadow: 10px 10px 6px 0px rgba(201,199,201,1);
    box-shadow: 10px 10px 6px 0px rgba(201,199,201,1);  
}

.me img{
    border-radius: 550px;
}

/* scroll down */

.scroll_down{
    background: rgba(255, 255, 255, 0.206);
    padding: 10px;
    border-radius: 12px;
    position: absolute;
    right: -2.3rem;
    bottom: 7rem;
    transform: rotate(90deg);
    font-weight: 400;
    font-size: 1rem;
}

.easterEggs{
    font-size: 1.5rem;
    transform: rotate(15deg);
text-align: center;
    margin-top:30vh ;
    transition: var(--transition);
}

.easterEggs:hover{
    color: var(--colorPrimary);
}

.easterEggs:active{
    transform: scale(0.8);

}
/* ------------ MEDIA QUERYS (MEDIA DEVICES // MOBILE)  -------------- */
@media screen and (max-width: 600px) {
    header{
        height: 100vh;
    }
    .me{
        display: none;
    }
    .headerSocials,
    .scroll_down{
        display: none;
    }
    .easterEggs{
        display: none;
    }
}