header {
    height: 100vh;
    padding-top: 7rem;
    overflow: hidden;
}

.header__container{
    text-align: start;
    display: flex;
    justify-content: space-evenly;
    height: 100%;
    position: relative;
}

/* CTA styling */

.cta{
    display: flex;
    gap: 1.2rem;
    justify-content: center;
    margin-top: 2.5rem;
}

/* HeaderSocials */

.headerSocials{
    background: rgba(255, 255, 255, 0.206);
    padding: 10px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    font-size: 2rem;
    position: absolute;
    left: 0;
    bottom: 3rem;
}

.headerSocials::after{
    content: '';
    width: 1px;
    height: 2rem;
    background: var(--colorPrimary);
}

/* img */

.me{
    background: rgba(113, 255, 77, 0.257);
    background: -moz-linear-gradient(196deg, rgba(113,255,77,1) 20%, rgba(49,112,34,0.5606617647058824) 43%, rgba(28,64,19,0.29735644257703087) 56%, rgba(9,21,6,0) 75%, rgba(0,0,0,0) 94%);
    background: -webkit-linear-gradient(196deg, rgba(113,255,77,1) 20%, rgba(49,112,34,0.5606617647058824) 43%, rgba(28,64,19,0.29735644257703087) 56%, rgba(9,21,6,0) 75%, rgba(0,0,0,0) 94%);
    background: linear-gradient(196deg, rgba(113, 255, 77, 0.598) 20%, rgba(50, 112, 34, 0.409) 43%, rgba(28,64,19,0.29735644257703087) 56%, rgba(9,21,6,0) 75%, rgba(0,0,0,0) 94%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#71ff4d",endColorstr="#000000",GradientType=1);
    width: 25rem;
    height: 30rem;
    padding-top: 1rem;
    border-radius: 550px;
    align-content: center;
    display: flex;
}

.me img{
    /* border: 1px solid #fff; */
    border-radius: 550px;
}

/* scroll down */

.scroll_down{
    background: rgba(255, 255, 255, 0.206);
    padding: 10px;
    border-radius: 12px;
    position: absolute;
    right: -2.3rem;
    bottom: 7rem;
    transform: rotate(90deg);
    font-weight: 400;
    font-size: 1rem;
}

/* ------------ MEDIA QUERYS (MEDIA DEVICES // MOBILE)  -------------- */
@media screen and (max-width: 600px) {
    header{
        height: 100vh;
    }
    .header__container{
        flex-direction: column;
    }
    .me{
        background: transparent;
        width: 100vw;
        height: 30rem;
        padding-top: 0.5rem;
    }
    .me img{
        border-radius: 0;
    }
    .headerSocials,
    .scroll_down{
        display: none;
    }
}

/* ------------ MEDIA QUERYS (MEDIA DEVICES // TABLETS)  -------------- */
@media screen and (max-width: 1024px) {
    .header__container{
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        text-align: center;
    }
}